$for(people)$
    $partial("templates/profile.html")$
<br>
$endfor$

<div class="columns is-multiline">
$for(students)$
    <div class="column is-half">
        $partial("templates/profile.html")$
    </div>
$endfor$
</div>

<h2 class="title is-2 has-text-centered has-text-primary">Recent alumni</h2>

<div class="columns is-multiline">
    $for(alumni)$
        <div class="column is-half">
            $partial("templates/alumni.html")$
        </div>
    $endfor$
    </div>
